@charset "UTF-8";

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
span{
    border: 2px solid black;
    width: 240px;
    text-align: right;
    padding: 15px;
    border-radius: 5px;
}
div{
    display: flex;
    width: 243px;
    flex-wrap: wrap;
    gap: 2px 1px;
    border-radius: 5px;
    border: 2px solid black;
}
button{
    height: 30px;
    width: 59px;
}